{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro - Fronteira Viva</title>
    <link rel="stylesheet" href="{% static 'meusite/css/style_login.css' %}">
</head>
<body class="corpo-login">
    <div class="login-container">
        <img src="{% static 'meusite/img/logo.png' %}" alt="Logo" class="site-logo-pequena">
        <h2>Criar Nova Conta</h2>
        <p>Cadastre-se para contar suas histórias da fronteira.</p>
        
        <form method="POST">
            {% csrf_token %}
            <div class="campo">
                <label for="username">Nome de Usuário:</label>
                <input type="text" name="username" id="username" placeholder="Como quer ser chamado?" required>
            </div>
            <div class="campo">
                <label for="email">E-mail:</label>
                <input type="email" name="email" id="email" placeholder="seu@email.com" required>
            </div>
            <div class="campo">
                <label for="password">Senha:</label>
                <input type="password" name="password" id="password" placeholder="Crie uma senha" required>
            </div>
            <button type="submit" class="btn-acao">CADASTRAR</button>
        </form>
        
        <div class="links-ajuda">
            <p>Já tem uma conta? <a href="{% url 'login' %}">Entrar agora</a></p>
            <a href="{% url 'home' %}">Voltar para o Início</a>
        </div>
    </div>
</body>
</html>