{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fronteira Viva - Ponta Porã</title>
    <link rel="stylesheet" href="{% static 'meusite/css/stylehome.css' %}">
</head>
<body class="{% if user.is_authenticated and user.perfil.alto_contraste %}alto-contraste{% endif %}">

<header>
    <div class="header-container">
        <div></div>
        <div class="logo-area">
            <img src="{% static 'meusite/img/logo.png' %}" alt="Logo Fronteira Viva" class="site-logo">
            <h1>FRONTEIRA VIVA</h1>
        </div>
        <div class="header-right">
            <div id="relogio" class="relogio-digital">00:00:00</div>
        </div>
    </div>

    <nav class="menu">
        <button onclick="trocarTela('cultura')">Cultura</button>
        <button onclick="trocarTela('historias')">História</button>
        <button onclick="trocarTela('cambio')">Câmbio</button>
        {% if user.is_authenticated %}
            <form action="{% url 'logout' %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit">Sair</button>
            </form>
        {% else %}
            <button onclick="trocarTela('login')">Login</button>
        {% endif %}
        <button onclick="trocarTela('mapa')">Mapa</button> 
    </nav>
</header>

<main>
    <section id="cultura" class="tela ativa">
        <h2>Nossa Cultura: </h2>
        <div class="grid-cards">
            {% for p in culturas %}
                {% if p.categoria == 'CULTURAS' %}
                <div class="card">
                    {% if p.imagem %}
                        <img src="{{ p.imagem.url }}" alt="{{ p.titulo }}">
                    {% endif %}
                    <div class="card-content">
                        <h3>{{ p.titulo }}</h3>
                        <div class="detalhes-agricolas">
                            <p>{{ p.descricao|linebreaksbr }}</p>
                        </div>
                        
                        <button class="btn-ouvir" onclick="falarTexto('{{ p.titulo }}. {{ p.descricao|escapejs }}')">
                            🔊 Ouvir Texto
                        </button>

                        <div class="audio-acessibilidade">
                            {% if p.audio_guia %}
                                <p><strong>📁 Guia Gravado:</strong></p>
                                <audio controls class="player-voz" style="width: 100%;">
                                    <source src="{{ p.audio_guia.url }}" type="audio/mpeg">
                                    Seu navegador não suporta o player de áudio.
                                </audio>
                            {% else %}
                                <p class="sem-audio"><em>Áudio-guia gravado em breve...</em></p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>

    <section id="historias" class="tela">
        <h2>Nossa Trajetória</h2>
        <p class="instrucao">Clique nos temas para ler a história detalhada:</p>
        <div class="lista-detalhada">
            {% for historia in historias_locais %}
                {% if historia.categoria == 'HISTORIAS' %}
                <details>
                    <summary>{{ historia.titulo }}</summary>
                    <div class="detalhe-conteudo">
                        <p>{{ historia.descricao|linebreaks }}</p>
                        
                        <button class="btn-ouvir" onclick="falarTexto('{{ historia.titulo }}. {{ historia.descricao|escapejs }}')">
                            🔊 Ouvir História
                        </button>

                        {% if h.localizacao_url %}
                            <a href="{{ h.localizacao_url }}" target="_blank" class="btn-mapa">📍 Ver no Google Maps</a>
                        {% endif %}
                        
                        {% if h.audio_guia %}
                            <div class="audio-acessibilidade" style="margin-top: 15px;">
                                <audio controls style="width: 100%;">
                                    <source src="{{ h.audio_guia.url }}" type="audio/mpeg">
                                </audio>
                            </div>
                        {% endif %}
                    </div>
                </details>
                {% endif %}
            {% endfor %}
        </div>
    </section>

    <section id="cambio" class="tela">
        <h2>Câmbio na Fronteira</h2>
        <div class="tabela-cambio">
            <div class="item-cambio"><span>🇺🇸 Dólar</span> <strong id="preco-dolar">R$ 0,00</strong></div>
            <div class="item-cambio"><span>🇵🇾 Guarani</span> <strong id="preco-guarani">R$ 0,00</strong></div>
        </div>
        <button onclick="atualizarCambio()" class="btn-acao">Atualizar</button>
    </section>

    <section id="login" class="tela">
        <div class="login-container">
            <h2>Acesse sua Conta</h2>
            
            <form id="form-login" class="login-form" method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Usuário" required>
                <input type="password" name="password" placeholder="Senha" required>
                <button type="submit" class="btn-acao">ENTRAR</button>
            </form>
        </div>
    </section>
    <section id="mapa" class="tela">
        <h2>Veja o mapa de Ponta Porã com seus Pontos turisticos</h2>
        <div class="grid-cards">
            <iframe src="https://www.google.com/maps/d/embed?mid=1Rp3Myi8X0a_MuJlkVfe1-cY2P3cfGn4&ehbc=2E312F&noprof=1" width="840" height="480" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </section>
</main>

<footer>
    <p>Fronteira Viva © 2026 | Ponta Porã - MS</p>
    <p>Todos os direitos reservados.</p>
</footer>

<script src="{% static 'meusite/js/scriptshome.js' %}"></script>
</body>
</html>